includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - src
